<div>
  <button mat-button>Basic Button</button>
  <button mat-raised-button>Raised Button</button>
  <button mat-flat-button>Flat Button</button>
  <button mat-stroked-button>Storked Button</button>
</div>

<div>
  <!-- (icon is a Circular button with a transparent background, meant to contain an icon) -->
  <button mat-icon-button>Icon Button</button>
  <button mat-fab>Fab Button</button>
  <button mat-mini-fab>Mini Fab Button</button>
</div>

<div>
  <button color="primary" mat-button>Primary</button>
  <button color="accent" mat-button>Accent</button>
  <button color="warn" mat-button>Warn</button>
  <button color="primary" mat-raised-button>Primary</button>
  <button color="accent" mat-raised-button>Accent</button>
  <button color="warn" mat-raised-button>Warn</button>
</div>
