<div class="layout">
  <mat-tab-group>
    <mat-tab label="Info 1">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatibus veritatis sapiente
      ipsum officiis eligendi aut.</mat-tab>
    <mat-tab label="Info 2">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatibus veritatis sapiente
      ipsum officiis eligendi aut.</mat-tab>
    <mat-tab label="Info 3">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatibus veritatis sapiente
      ipsum officiis eligendi aut.t</mat-tab>
  </mat-tab-group>
</div>
