.layout {
  margin-top: 50px;
  margin-left: 50px;
}


.number {
  height: 100px;
  color: white;
  text-align: center;
  font-weight: bold;
  font-size: 1rem;
  padding: 5px;
  background-color: red;
}

.scroll {
  height: 400px;
}
